.main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    width: 90%;
    padding: 10px 0;
    margin-top: 10px;
}

.main img{
    border-radius: 50%;
    width: 30%;
}

.main div {
    display: flex;
    flex-direction: column;

    width: 300px;
}

.main p{
    text-align: initial;
}